<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MerchantCenter</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>MerchantCenter.root</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/applicationContext.xml,
			classpath*:/applicationContext-api.xml,
			classpath*:/applicationContext-settings.xml,
			classpath*:/applicationContext-ftp.xml,
			classpath*:/rabbitmq-config.xml,
			classpath*:/log4jConfiguration.xml
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>ImageValidate</servlet-name>
		<servlet-class>com.yougou.kaidian.framework.servlet.ImageValidate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageValidate</servlet-name>
		<url-pattern>/servlet/imageValidate</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>SharedSessionFilter</display-name>
		<filter-name>SharedSessionFilter</filter-name>
		<filter-class>com.yougou.kaidian.framework.core.session.redis.RedisSessionFilter</filter-class>
		<init-param>
			<param-name>sessionId</param-name>
			<param-value>YGKD_SID</param-value>
		</init-param>
		<init-param>
			<param-name>cookieDomain</param-name>
			<param-value>kaidian.yougou.com</param-value>
		</init-param>
		<init-param>
			<param-name>cookiePath</param-name>
			<param-value>/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SharedSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.yougou.kaidian.framework.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.sc</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
        	<param-name>forceEncoding</param-name>
        	<param-value>true</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jhtml</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.sc</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>BarcodeServlet</servlet-name>
		<servlet-class>com.yougou.kaidian.framework.servlet.BarcodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeServlet</servlet-name>
		<url-pattern>/barcode</url-pattern>
	</servlet-mapping>
	
	<!-- Following is required to enable freemarker(ftl) support-->
    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>org.apache.tiles.request.freemarker.servlet.SharedVariableLoaderFreemarkerServlet</servlet-class>

        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>ContentType</param-name>
            <param-value>text/html;charset=UTF-8</param-value>
        </init-param>

        <!-- FreeMarker settings: -->
        <init-param>
            <param-name>template_update_delay</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.tiles.request.freemarker.CUSTOM_SHARED_VARIABLE_FACTORIES</param-name>
            <param-value>tiles,org.apache.tiles.freemarker.TilesSharedVariableFactory</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>
    
    <servlet>
		<servlet-name>layoutSettingThrift</servlet-name>
		<servlet-class>com.yougou.kaidian.commodity.thrift.LayoutSettingThriftServer</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	
	<resource-ref>
		<res-ref-name>MySqlDSYmcM</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>MySqlDSYmcS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>MySqlDSYmcReport</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
</web-app>