<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://code.alibabatech.com/schema/dubbo	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="true">

	<description>Dubbo provider配置</description>
	
    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="merchant-center"  />
    
    <!-- 使用zookeeper暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" file="${dubbo.registry.file}"/>
    
    <!-- 商品系统API -->
    <dubbo:reference id="commodityBaseApiService" interface="com.yougou.pc.api.ICommodityBaseApiService" timeout="60000" protocol="dubbo" check="false" version="1.2"/>
    
    <dubbo:reference id="commodityMerchantApiService" interface="com.yougou.pc.api.ICommodityMerchantApiService" timeout="60000" protocol="dubbo" check="false" version="1.1"/> 
   	
    <!-- 招商相关接口 -->
    <dubbo:reference id="merchantImageApi" interface="com.yougou.merchant.api.supplier.service.IMerchantImageService" timeout="60000" protocol="dubbo" check="false" version="1.1"/>
</beans>