.paginator {
	padding: 1.6em 0;
	white-space: nowrap;
	text-align: center;
	font-size: 12px;
	width:100%;
}

.paginator li {
	display: inline;
	margin: 0 2px; *
	vertical-align: middle;
}

.paginator li a { *
	display: inline-block; *
	height: 22px;
	padding: 3px 6px 4px; *
	padding: 0 6px;
	border: 1px solid #bbb;
	text-decoration: none; *
	line-height: 22px; *
	position: relative;
	cursor: pointer;
	background-color: #fff;
}

.paginator li a:hover { *
	height: 24px;
	padding: 4px 7px 5px; *
	padding: 0 7px;
	border: none; *
	line-height: 24px;
	background: #9C0000;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.paginator li a.current { *
	height: 24px;
	padding: 4px 7px 5px; *
	padding: 0 7px;
	border: none; *
	line-height: 24px;
	background: #9C0000;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.paginator li a.nolink {
	color: #ccc;
	cursor: default;
}

.paginator li a.nolink:hover {
	background: transparent; *
	height: 22px;
	padding: 3px 6px 4px; *
	padding: 0 6px;
	border: 1px solid #ccc; *
	line-height: 22px;
}