<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.kaidian.taobao.dao.TaobaoItemCatMapper">
	<!-- 淘宝优购类目表 -->
	<resultMap id="taobaoItemCat" type="com.yougou.kaidian.taobao.model.TaobaoItemCat">
		<result column="cid" property="cid" jdbcType="BIGINT" />
		<result column="parent_cid" property="parentCid" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="is_parent" property="isParent" jdbcType="TINYINT" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="sort_order" property="sortOrder" jdbcType="SMALLINT" />
		<result column="operater" property="operater" jdbcType="VARCHAR" />
		<result column="operated" property="operated" jdbcType="VARCHAR" />
	</resultMap>

    <!-- 插入单个淘宝类目数据 -->
    <insert id="insertTaobaoItemCat" parameterType="com.yougou.kaidian.taobao.model.TaobaoItemCat">
        insert into tbl_merchant_taobao_itemcat ( cid, parent_cid, name, is_parent, status, sort_order, operater, operated )
        values 
        (
             #{cid,jdbcType=BIGINT},
             #{parentCid,jdbcType=BIGINT},
             #{name,jdbcType=VARCHAR},
             #{isParent,jdbcType=TINYINT}, 
             #{status,jdbcType=VARCHAR},
             #{sortOrder,jdbcType=SMALLINT},
             #{operater,jdbcType=VARCHAR},
             #{operated,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 批量插入淘宝类目数据 -->
    <insert id="insertTaobaoItemCatList" parameterType="java.util.List">
        insert into tbl_merchant_taobao_itemcat ( cid, parent_cid, name, is_parent, status, sort_order, operater, operated )
        values 
        <foreach collection="list" item="item" index="index" separator=","> 
          (
             #{item.cid,jdbcType=BIGINT},
             #{item.parentCid,jdbcType=BIGINT},
             #{item.name,jdbcType=VARCHAR},
             #{item.isParent,jdbcType=TINYINT}, 
             #{item.status,jdbcType=VARCHAR},
             #{item.sortOrder,jdbcType=SMALLINT},
             #{item.operater,jdbcType=VARCHAR},
             #{item.operated,jdbcType=VARCHAR}
          )
        </foreach>
    </insert>
    
    <!-- 根据cid查询淘宝类目 -->
    <select id="getTaobaoItemCatByCid" resultMap="taobaoItemCat">
    	SELECT cid, parent_cid, name, is_parent, status, sort_order, operater, operated
    	FROM tbl_merchant_taobao_itemcat
    	WHERE cid = #{cid, jdbcType=BIGINT};
    </select>
    
    <!-- 查询淘宝所有分类 -->
    <select id="selectAllTaobaoItemCat" resultMap="taobaoItemCat">
    	SELECT cid, parent_cid, name, is_parent, status, sort_order, operater, operated
    	FROM tbl_merchant_taobao_itemcat order by sort_order desc
    </select>
    
	<!-- 淘宝优购类目绑定中间表 -->
	<resultMap id="taobaoYougouItemCat" type="com.yougou.kaidian.taobao.model.TaobaoYougouItemCat">
		<result column="id" property="id" jdbcType="CHAR" />
		<result column="taobao_cid" property="taobaoCid" jdbcType="BIGINT" />
		<result column="taobao_cat_full_name" property="taobaoCatFullName" jdbcType="VARCHAR" />
		<result column="yougou_cat_no" property="yougouCatNo" jdbcType="VARCHAR" />
		<result column="yougou_cat_struct" property="yougouCatStruct" jdbcType="VARCHAR" />
		<result column="yougou_cat_full_name" property="yougouCatFullName" jdbcType="VARCHAR" />
		<result column="nick_id" property="nickId" jdbcType="BIGINT" />
		<result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
		<result column="operater" property="operater" jdbcType="VARCHAR" />
		<result column="operated" property="operated" jdbcType="VARCHAR" />
	</resultMap>


	<sql id="condition4TaoBaoYougouItemCat" >
	    <if test="null!=params" >
	      <if test="null!=params.id and ''!=params.id" >
	       	 and b.id  =  #{params.id,jdbcType=VARCHAR}
	      </if>
	      <if test="null!=params.nickId and ''!=params.nickId" >
	       	 and b.nick_id  =  #{params.nickId,jdbcType=VARCHAR}
	      </if>
	      <if test="null!=params.yougouCatNo and ''!=params.yougouCatNo" >
	       	 and b.yougou_cat_no  =  #{params.yougouCatNo,jdbcType=VARCHAR}
	      </if>
	      <if test="null!=params.nickName and ''!=params.nickName" >
	       	 and a.top_visitor_nick like '%${params.nickName}%'
	      </if>
	      <!-- 是否已经绑定  Y 已经绑定  N 没有绑定 -->
	      <if test="null!=params.bindType and 'Y'.toString()==params.bindType" >
	       	 and (b.yougou_cat_no is not null and b.yougou_cat_no != '')
	      </if>
	      <if test="null!=params.bindType and 'N'.toString()==params.bindType" >
	       	 and (b.yougou_cat_no is  null or  b.yougou_cat_no = '')
	      </if>
	      <if test="null!=params.merchantCode and ''!=params.merchantCode" >
	       	 and b.merchant_code = #{params.merchantCode,jdbcType=VARCHAR}
	      </if>
	    </if>
	</sql>

    <!-- 插入单个淘宝优购绑定类目数据 -->
    <insert id="insertTaobaoYougouItemCat" parameterType="com.yougou.kaidian.taobao.model.TaobaoYougouItemCat">
        insert into tbl_merchant_taobao_yougou_itemcat ( id, taobao_cid, taobao_cat_full_name,yougou_cat_no,yougou_cat_full_name, yougou_cat_struct, nick_id, merchant_code, operater, operated )
        values 
        (
             #{id,jdbcType=CHAR},
             #{taobaoCid,jdbcType=BIGINT},
             #{taobaoCatFullName,jdbcType=VARCHAR},
             #{yougouCatNo,jdbcType=VARCHAR},
             #{yougouCatFullName,jdbcType=VARCHAR},
             #{yougouCatStruct,jdbcType=VARCHAR}, 
             #{nickId,jdbcType=BIGINT},
             #{merchantCode,jdbcType=VARCHAR},
             #{operater,jdbcType=VARCHAR},
             #{operated,jdbcType=VARCHAR}
        )
    </insert>
    
    <!-- 批量插入淘宝优购绑定类目数据 -->
    <insert id="insertTaobaoYougouItemCatList" parameterType="java.util.List">
        insert into tbl_merchant_taobao_yougou_itemcat ( id, taobao_cid, yougou_cat_no, yougou_cat_struct, nick_id, merchant_code, operater, operated )
        values 
        <foreach collection="list" item="item" index="index" separator=","> 
          (
             #{item.id,jdbcType=CHAR},
             #{item.taobaoCid,jdbcType=BIGINT},
             #{item.yougouCatNo,jdbcType=VARCHAR},
             #{item.yougouCatStruct,jdbcType=VARCHAR}, 
             #{item.merchantCode,jdbcType=VARCHAR},
             #{item.nickId,jdbcType=BIGINT},
             #{item.operater,jdbcType=VARCHAR},
             #{item.operated,jdbcType=VARCHAR}
          )
        </foreach>
    </insert>
    
    <!-- 根据商家编码、淘宝店铺昵称ID、淘宝类目cid查询获取是否已存在于绑定中间表 -->
    <select id="getTaobaoYougouItemCatByCid" resultMap="taobaoYougouItemCat">
    	SELECT id, taobao_cid, yougou_cat_no, yougou_cat_struct, nick_id, merchant_code, operater, operated
    	FROM tbl_merchant_taobao_yougou_itemcat
    	WHERE merchant_code = #{merchantCode, jdbcType=VARCHAR} AND nick_id = #{nickId, jdbcType=BIGINT} AND taobao_cid = #{cid, jdbcType=BIGINT}
    	limit 0,1 
    	;
    </select>
    
    <select id="getTaobaoYougouItemCatByCidTemplet" resultMap="taobaoYougouItemCat">
    	SELECT id, taobao_cid, taobao_cat_full_name ,yougou_cat_no, yougou_cat_full_name,yougou_cat_struct, operater, operated
    	FROM tbl_merchant_taobao_yougou_itemcat_templet
    	WHERE taobao_cid = #{cid, jdbcType=BIGINT}
    	limit 0,1 
    	;
    </select>
    
    <!-- 根据Id获取绑定属性-->
    <select id="getTaobaoYougouItemCatById" resultMap="taobaoYougouItemCat">
    	SELECT id, taobao_cid, yougou_cat_no, yougou_cat_struct, nick_id, merchant_code, operater, operated
    	FROM tbl_merchant_taobao_yougou_itemcat WHERE id = #{id,jdbcType=VARCHAR}
    </select>
    
    <!--查询绑定分类列表 -->
    <select id="selectTaobaoYougouItemCatCount" resultType="java.lang.Integer">
    	select count(1) from tbl_merchant_taobao_yougou_itemcat b inner join tbl_merchant_taobao_authinfo a
    	on a.top_visitor_id = b.nick_id inner join tbl_merchant_taobao_itemcat tb on tb.cid = b.taobao_cid
    	where 1=1
    	<include refid="condition4TaoBaoYougouItemCat" />
    </select>
    <select id="selectTaobaoYougouItemCatList" resultMap="taobaoYougouItemCat">
    	select b.id,b.taobao_cid,a.top_visitor_nick nickName,b.yougou_cat_struct,b.yougou_cat_no,b.operated,b.taobao_cat_full_name,b.yougou_cat_full_name
    	from tbl_merchant_taobao_yougou_itemcat b inner join tbl_merchant_taobao_authinfo a
    	on a.top_visitor_id = b.nick_id
    	where 1=1
    	<include refid="condition4TaoBaoYougouItemCat" />
    	order by b.operated desc 
    </select>
    
   <select id="selectAllTaobaoYougouItemCatList" resultMap="taobaoYougouItemCat">
    	select b.id,b.taobao_cid,a.top_visitor_nick nickName,b.nick_id,b.yougou_cat_struct,b.yougou_cat_no,tb.name taobaoItemName,b.operated
    	from tbl_merchant_taobao_yougou_itemcat b inner join tbl_merchant_taobao_authinfo a
    	on a.top_visitor_id = b.nick_id inner join tbl_merchant_taobao_itemcat tb on tb.cid = b.taobao_cid
    	where 1=1
    	<include refid="condition4TaoBaoYougouItemCat" />
    	order by b.operated desc 
    </select>
    
    <!-- 查询优购所有分类 -->
    <select id="selectAllYougouCatNoByMerchantCode" resultType="java.lang.String">
    	select cat_no from tbl_sp_limit_cat c inner join tbl_sp_supplier s on s.id =c.supply_id
    	where s.supplier_code = #{merchantCode,jdbcType=VARCHAR} order by struct_name
    </select>
    
    <!-- 更新绑定分类 -->
    <update id="updateTaobaoYougouItemCat">
	  	  update tbl_merchant_taobao_yougou_itemcat set yougou_cat_no =  #{yougouCatNo,jdbcType=VARCHAR},
	  	  yougou_cat_struct = #{yougouCatStruct,jdbcType=VARCHAR},
	  	  taobao_cat_full_name = #{taobaoCatFullName,jdbcType=VARCHAR},
	  	  yougou_cat_full_name = #{yougouCatFullName,jdbcType=VARCHAR} 
	  	  where id =  #{id,jdbcType=CHAR} and 
	  	  merchant_code = #{merchantCode,jdbcType=VARCHAR}
    </update>
    
    <update id="updateTaobaoYougouItemCatByCid">
	  	  update tbl_merchant_taobao_yougou_itemcat set yougou_cat_no =  #{yougouCatNo,jdbcType=VARCHAR},
	  	  yougou_cat_struct = #{yougouCatStruct,jdbcType=VARCHAR},
	  	  taobao_cat_full_name = #{taobaoCatFullName,jdbcType=VARCHAR},
	  	  yougou_cat_full_name = #{yougouCatFullName,jdbcType=VARCHAR} 
	  	  where taobao_cid =  #{taobaoCid,jdbcType=CHAR} and 
	  	  merchant_code = #{merchantCode,jdbcType=VARCHAR}
    </update>
</mapper>