<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.kaidian.commodity.dao.MerchantCommodityMapper">

	<!-- MerchantCommodityPicsMap -->
	<resultMap type="com.yougou.kaidian.commodity.model.pojo.MerchantCommodityPics" id="MerchantCommodityPicsMap">
	    <id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="outer_pic_id" property="outerPicId" jdbcType="INTEGER" />
	    <result column="inner_pic_name" property="innerPicName" jdbcType="VARCHAR" />
	    <result column="thumbnai_pic_name" property="thumbnaiPicName" jdbcType="VARCHAR" />
	    <result column="inner_pic_path" property="innerPicPath" jdbcType="VARCHAR" />
	    <result column="pic_category" property="picCategory" jdbcType="VARCHAR" />
	    <result column="pic_size" property="picSize" jdbcType="BIGINT" />
	    <result column="created" property="created" jdbcType="TIMESTAMP" />
	    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
	    <result column="commodity_no" property="commodityNo" jdbcType="VARCHAR" />
	    <result column="pic_name" property="picName" jdbcType="VARCHAR" />
	    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
	    <result column="commodity_status" property="picStatus" jdbcType="SMALLINT" />
	</resultMap>

	<resultMap type="com.yougou.kaidian.commodity.model.pojo.MerchantCommodityPics" id="MerchantTemporaryPicsMap">
	    <id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="inner_pic_name" property="innerPicName" jdbcType="VARCHAR" />
	    <result column="source_pic_name" property="picName" jdbcType="VARCHAR" />
	    <result column="thumbnai_pic_name" property="thumbnaiPicName" jdbcType="VARCHAR" />
	    <result column="inner_pic_path" property="innerPicPath" jdbcType="VARCHAR" />
	    <result column="pic_size" property="picSize" jdbcType="BIGINT" />
	    <result column="created" property="created" jdbcType="TIMESTAMP" />
	    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
	    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 保存商家商品图片信息 -->
	<select id="insertMerchantCommodityPics" parameterType="com.yougou.kaidian.commodity.model.pojo.MerchantCommodityPics">
		insert into tbl_merchant_commodity_pics(id, outer_pic_id, inner_pic_name, thumbnai_pic_name, inner_pic_path, pic_category, pic_size, created, merchant_code)
		values(#{id,jdbcType=VARCHAR}, #{outerPicId,jdbcType=INTEGER}, #{innerPicName,jdbcType=VARCHAR}, #{thumbnaiPicName,jdbcType=VARCHAR}, #{innerPicPath,jdbcType=VARCHAR}, #{picCategory,jdbcType=VARCHAR}, #{picSize,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, #{merchantCode,jdbcType=VARCHAR})
	</select>
	
	<!-- 删除商家商品图片信息 -->
	<delete id="deleteMerchantCommodityPics">
		delete from tbl_merchant_commodity_pics 
		where 
			id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
		#{id}
		</foreach>
	</delete>
	
	<!-- 删除商家所有商品图片信息 -->
	<delete id="deleteMerchantCommodityAllPics">
		delete from tbl_merchant_commodity_pics 
		where 
			inner_pic_name like concat('${supplierCode}', '%')
		and
			merchant_code = #{merchantCode,jdbcType=VARCHAR}
	</delete>
	
	<!-- 删除商家商品图片信息 -->
	<delete id="deleteMerchantCommodityPicsByOuterPicId">
		delete from tbl_merchant_commodity_pics 
		where 
			outer_pic_id in
		<foreach collection="outerPicIds" item="outerPicId" open="(" close=")" separator=",">
		#{outerPicId}
		</foreach>
	</delete>
	
	<!-- 获取商家永久商品图片信息 -->
	<select id="getPermanentMerchantCommodityPicsById" resultMap="MerchantCommodityPicsMap">
		select
			t1.id, t1.outer_pic_id, t1.inner_pic_name, thumbnai_pic_name, t1.inner_pic_path, t1.pic_category, t1.pic_size, t1.created, t1.merchant_code
		from
			tbl_merchant_commodity_pics t1
		where
			t1.id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="getPermanentMerchantCommodityPicsByName" resultMap="MerchantCommodityPicsMap">
		select
			t1.id, t1.outer_pic_id, t1.inner_pic_name,  thumbnai_pic_name, t1.inner_pic_path, t1.pic_category, t1.pic_size, t1.created, t1.merchant_code
		from
			tbl_merchant_commodity_pics t1 
		where
			t1.inner_pic_name = #{innerPicName,jdbcType=VARCHAR}
		and
			t1.merchant_code = #{merchantCode,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取商家临时商品图片信息 -->
	<select id="getTemporaryMerchantCommodityPicsById" resultMap="MerchantCommodityPicsMap">
		select
			t1.id, t1.outer_pic_id, t1.inner_pic_name,  thumbnai_pic_name, t1.inner_pic_path, t1.pic_category, t1.pic_size, t1.created, t1.merchant_code, t1.inner_pic_name as pic_name, t1.inner_pic_path as pic_path
		from
			tbl_merchant_commodity_pics t1 
		where
			t1.outer_pic_id is null
		and
			t1.id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="getTemporaryMerchantCommodityPicsByName" resultMap="MerchantCommodityPicsMap">
		select
			t1.id, t1.outer_pic_id, t1.inner_pic_name, thumbnai_pic_name, t1.inner_pic_path, t1.pic_category, t1.pic_size, t1.created, t1.merchant_code, t1.inner_pic_name as pic_name, t1.inner_pic_path as pic_path 
		from
			tbl_merchant_commodity_pics t1 
		where
			t1.outer_pic_id is null
		and
			t1.inner_pic_name = #{innerPicName,jdbcType=VARCHAR}
		and
			t1.merchant_code = #{merchantCode,jdbcType=VARCHAR}
	</select>
	
	<!-- 按商家款色编码模糊查询商家商品图片 -->
	<select id="queryMerchantCommodityPicsBySupplierCode" resultMap="MerchantCommodityPicsMap">
		select
			t1.id, t1.outer_pic_id, t1.inner_pic_name, thumbnai_pic_name,  t1.inner_pic_path, t1.pic_category, t1.pic_size, t1.created, t1.merchant_code
		from
			tbl_merchant_commodity_pics t1
		where
			t1.inner_pic_name like concat('${supplierCode}', '%')
		and
			t1.merchant_code = #{merchantCode,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询图片临时空间的图片 -->
	<select id="queryMerchantTemporaryPics" resultMap="MerchantTemporaryPicsMap">
		SELECT
			t.id,
			t.inner_pic_name,
			t.thumbnai_pic_name,
			t.inner_pic_path,
			t.inner_pic_path as pic_path,
			t.pic_size,
			t.created,
			t.merchant_code,
			t.source_pic_name
		FROM tbl_merchant_commodity_pics t
		WHERE t.inner_pic_path IS NOT NULL and t.pic_type=10 
		  and t.merchant_code = #{merchantCode,jdbcType=VARCHAR}
		<if test="start != null">
		  and t.created <![CDATA[>=]]> #{start,jdbcType=VARCHAR}  
		</if>
		<if test="end != null">
		  and t.created <![CDATA[<=]]> #{end,jdbcType=VARCHAR}  		
		</if>
		<if test="innerPicName != null and innerPicName != ''">
		  and t.source_pic_name like concat('${innerPicName}', '%')
		</if>
		<if test="orderBy != null and orderBy != ''">
			<if test="orderBy==1"> ORDER BY t.source_pic_name </if>
			<if test="orderBy==2"> ORDER BY t.created </if>
		</if>
		<if test="orderBy == null or orderBy == ''">
			ORDER BY t.created DESC
		</if>
	</select>
	<select id="queryMerchantTemporaryPicscount" resultType="java.lang.Integer">
		select count(1) from tbl_merchant_commodity_pics t
		WHERE t.inner_pic_path IS NOT NULL and t.pic_type=10 
		  and t.merchant_code = #{merchantCode,jdbcType=VARCHAR}
		<if test="start != null">
		  and t.created <![CDATA[>=]]> #{start,jdbcType=VARCHAR}  
		</if>
		<if test="end != null">
		  and t.created <![CDATA[<=]]> #{end,jdbcType=VARCHAR}  		
		</if>
		<if test="innerPicName != null and innerPicName != ''">
		  and t.source_pic_name like concat('${innerPicName}', '%')
		</if>
	</select>

	<!-- 获取商家入库类型 -->
	<select id="getMerchantStorageType" resultType="java.lang.Integer">
		select
			ifnull(is_input_yougou_warehouse,  1)
		from
			tbl_sp_supplier
		where
			supplier_code = #{merchantCode,jdbcType=VARCHAR}
	</select>

	<select id="getMerchantTemporaryPicByPicName" resultMap="MerchantTemporaryPicsMap">
		SELECT
			t.id,
			t.inner_pic_name,
			t.thumbnai_pic_name,
			t.inner_pic_path,
			t.inner_pic_path as pic_path,
			t.pic_size,
			t.created,
			t.merchant_code,
			t.source_pic_name
		FROM tbl_merchant_commodity_pics t
		WHERE t.inner_pic_path IS NOT NULL
		  and t.merchant_code = #{merchantCode,jdbcType=VARCHAR}
		  and t.inner_pic_name = #{innerPicName,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteMerchantTemporaryPicByPicName">
		delete from tbl_merchant_commodity_pics 
		where inner_pic_name = #{innerPicName,jdbcType=VARCHAR}
		and merchant_code = #{merchantCode,jdbcType=VARCHAR}
	</delete>
</mapper>