 .box-contain {
    padding: 10px 20px;
}

.c-h-2column-right {
    width: 590px;
    padding: 8px 20px;
    background-color: #F0F0F0;
}

.c-h-2column-right .c-h-contain {
    padding-right: 35px;
}

.c-h-2column-right .c-h-contain > p {
    padding-top: 5px;
}

.c-h-2column-right .c-h-contain .h3 {
    padding-top: 0;
    padding-bottom: 5px;
}

.c-h-2column-right .c-h-right {
    width: 100px;
    float: right;
}

.c-h-2column-left {
    padding-bottom: 10px;
}

.c-h-2column-left .label {
    float: left;
    width: 100px;
    margin-right: -100px;
    text-align: right;
    line-height: 30px;
}

.c-h-2column-left .c-h-contain {
    margin-left: 110px;
}

.c-h-2column-left .pr {
    position: relative;
}

.input-default {
    width: 270px;
    height: 12px;
    padding: 8px 2px;
    border: 1px solid #eee;
    vertical-align: middle;
}

.btn-blue {
    display: inline-block;
    line-height: 12px;
    color: #555;
    padding: 8px 25px;
    background-color: #F2F2F2;
    border: 1px solid #D7D7D7;
    vertical-align: middle;
}

.btn-blue:link {
    color: #555;
}

.btn-blue:hover {
    color: white;
    background-color: #00C9DF;
    border: 1px solid #00C9DF;
}

.mlf1 {
    margin-left: -1px;
}
 
.appkey {
    padding-top: 30px;
}

.copymsg {
    width: 270px;
    text-align: center;
    line-height: 30px;
    background-color: #ccc;
    color: black;
    display: none;
    position: absolute;
    left: 0;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
}

 .yg-toggle {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.yg-toggle .yg-toggle-s {
    display: none;
}

.yg-toggle .toggle-states,
.yg-toggle .off {
    position: relative;
    width: 98px;
    height: 35px;
    background: url(../images/toggleonoff.png) 0 -5px no-repeat;
}

.yg-toggle .toggle-states .toggle-text {
    position: absolute;
    font-size: 14px;
    right: 15px;
    line-height: 34px;
    font-weight: bold;
}

.yg-toggle .off .toggle-text {
    
}

.yg-toggle .on {
    background-position: 0 -51px;
}

.yg-toggle .on .toggle-text {
    left: 13px;
    color: white;
}
 